:root {
    --primary-blue: #0044cc;
    --primary-dark-gray: #333333;
    --secondary-light-blue: #66ccff;
    --secondary-green: #00cc66;
    --accent-orange: #ff6600;
    --accent-light-gray: #f2f2f2;
    --text-white: #ffffff;
    --text-dark-gray: #4d4d4d;
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Roboto', sans-serif;
    --font-p-li: 'Open Sans', sans-serif;
    --font-nav-button: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    list-style: none;
}

body {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

p, li {
    font-family: var(--font-p-li);
}

nav, .button {
    font-family: var(--font-nav-button);
}

.layout {
    display: flex;
}
/* sidebar */

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    transition: left 0.3s ease;
}

.sidebar.open {
    left: 0; /* Show sidebar */
}

/* container */

.container {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    height: 100vh;
    width: 100%;
    background-color: var(--text-white);
}

.container.expand {
    margin-left: 250px; /* Space for the sidebar */
    transition: margin-left 0.3s ease;
    height: 100vh;
    width: 100%;
    background-color: var(--text-white);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--text-white);
    background-color: var(--primary-dark-gray);
    position: fixed;
    width: 100%;
    height: fit-content;
}

.navbar i {
    cursor: pointer;
    font-size: 30px;
}

.nav-links{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    cursor: pointer;
    color: var(--accent-light-gray);
    padding-right: 50px;
}

.nav-links li{
    transition: 0.3s ease;
}

.nav-links li:hover{
    text-decoration: underline;
    padding-bottom: 10px;
    padding-right: 10px;
}